$bg-color-primary :#ef9a9a;
$bg-color-secondary : rgba(196, 196, 196, 0.35);
$ft-color-primary : black;
$ft-color-secondary : rgba(0, 0, 0, 0.5);
$ft-family-primary : Roboto;

$hi-size : 30vmin;
$margin-size : 5vh;
$margin-size-resp : 5vmin;
$a-font-size : 2.5vmin;
$main-window-size : 90vh;

$welcome-animation-step-duration : 0.5s;

// Reset 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: $ft-family-primary;
    color:$ft-color-primary;
    font-size: $a-font-size;
}

li{
    list-style: none;
}

body,html, main{
    height: 100%;
    overflow: hidden;
}

// Page architecture
.section {
    width: 100vw;
    height: 100vh;
    &--m5vh{
        width: auto;
        margin: $margin-size;
        height: $main-window-size;
        transition-duration: $welcome-animation-step-duration ;
        display: flex;
        flex-wrap: wrap;
    }
    &--portrait{
        flex-direction: column;
    }
}

.title_menu{
    width: 100%;
    height: 100%;
    position: relative;
    background: $bg-color-primary;
    &--w50{
        width: 50%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--w25{
        width: 25%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--h50{
        height: 50%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--h25{
        height: 25%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &__content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        
        font-family: $ft-family-primary;
        font-style: normal;
        font-weight: bold;
        font-size: $hi-size;
        color: $ft-color-primary;

        transition-duration: $welcome-animation-step-duration ;
        &--vertical{
            transform: rotateZ(-90deg) translateX(50%) translateY(-50%);
        }
    }
    &__nav{
        font-family: $ft-family-primary;
        font-style: normal;
        font-weight: bold;
        font-size: $hi-size/2;
        color: $ft-color-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        &--vertical{
            position: relative;
            transform: rotateZ(-90deg) translateY(50%);
            transform-origin: bottom left;
        }
    }

    &__arrow{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity $welcome-animation-step-duration linear;
        width: 2 * $margin-size-resp;
        height: 2 * $margin-size-resp;
        right: $margin-size-resp;
        bottom: $margin-size-resp;
        &--up{
            transform: rotateZ(180deg);
            left: $margin-size-resp;
        }
    }

}

.main_content{
    background-color: $bg-color-secondary;
    height: 100%;
    width: 0%;
    overflow: hidden;
    &--portrait{
        height: 0%;
        width: 100%;
    }
    &--w50{
        width: 50%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--w75{
        width: 75%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--h50{
        height: 50%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--h75{
        height: 75%;
        transition-duration: $welcome-animation-step-duration ;
    }
}

.article{
    height: 100%;
    font-family: $ft-family-primary;
    font-style: normal;
    font-weight: normal;
    font-size: $hi-size/9;
    padding: $margin-size;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &_main{
        position: absolute;
        width: 100%;
        height: $margin-size;
        letter-spacing: $a-font-size/5;
        &__logo{
            padding-left:$margin-size;
            width:30%;
        }
        &__link{
            position: absolute;
            padding-right: 2*$margin-size;
            right: 0;
            & li{
                margin-left: $margin-size;
            }
        }
    }
    &_lang{
        position: absolute;
        right: 0;
        width: $margin-size;
        &__link{
            height: $margin-size;
            position: absolute;
            transform: rotateZ(90deg) translateY(-100%);
            transform-origin: top left;
            top: 2*$margin-size;
            & li{
                margin-right: 1vmin;
            }
        }
    }
}

.site_preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    width: 50%;
    height: 75%;
    background: rgba(239, 154, 154, 0.5) ;    
    box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.55);
    border-radius: 30px;
    z-index: 3;
    &__title{
        font-family: $ft-family-primary;
        
        > h3 {
            text-align: center !important;
            margin-bottom: $margin-size-resp/1.5;
            color:rgba(239, 154, 154, 1) ; 
        }
        > h4 {
            font-size: $hi-size/8  !important;
        }
    }
    &__btn{
        background-color: transparent;
        margin: $margin-size-resp;
        img {
            width: 2 * $margin-size-resp;
            height: 2 * $margin-size-resp;
        }
    }
}

.modal{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    z-index: 10;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    width: 100%;
    &__close_btn{
        position: absolute;
        top: 0;
        right: 0;
        color:$ft-color-primary;
        align-self: flex-end;
        padding: 1vh;
    }
    &__video{
        margin: $margin-size;
        height: $main-window-size;
    }
}

.carrousel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    &__previous-site{
        transform: rotateZ(180deg);
        margin:$margin-size-resp;
        img {
            width: 2 * $margin-size-resp;
            height: 2 * $margin-size-resp;
        }
    }
    &__next-site{
        margin:$margin-size-resp;
        img {
            width: 2 * $margin-size-resp;
            height: 2 * $margin-size-resp;
        }
    }
}

//rotate effect
.rotate{
    perspective: 400px;
    transition-duration: $welcome-animation-step-duration ;
    
}
.rotate--0{
    transform: rotateY(0deg);
}
.rotate--90{
    transform: rotateY(90deg);
}
.rotate--m90{
    transform: rotateY(-90deg);
}

//Items Style
h1{
    font-size: $hi-size/4.5;
}
.item_tag{
    color:$ft-color-secondary;
    font-weight: bold;
}
.item_point{
    color:$bg-color-primary;
}
a.selected{
    font-weight: bold;
}
article p{
    width: 100%;
}
.list .ul{
    transform: translateX(-$margin-size);

}
.list li{
    transform: translateX($margin-size);
    
}
.ft-white{
    color:white;
}
.ft-normal{
    font-weight: normal;
}
.form{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    > *:not(p) {
        margin-bottom: $margin-size-resp/1.5;
        border-radius: 5px;
        border: solid white;
        background: transparent;
        padding: 5px;
        transition: $welcome-animation-step-duration;
        &:focus{
            outline: 1px solid $ft-color-primary;
        }
    }
    input {
        height: $margin-size-resp;
        
    }
    p {
        font-size: $a-font-size/1.2;
        margin-bottom: $margin-size-resp/1.5;
        padding: 5px;
    }
}

#resume{
    text-align: center;
    font-weight: bold;
}