$bg-color-primary :#ef9a9a;
$bg-color-secondary : rgba(196, 196, 196, 0.35);
$ft-color-primary : black;
$ft-color-secondary : rgba(0, 0, 0, 0.5);
$ft-family-primary : Roboto;

$hi-size : 30vmin;
$margin-size : 5vh;
$margin-size-resp : 5vmin;
$a-font-size : 2.5vmin;
$main-window-size : 90vh;

$welcome-animation-step-duration : 0.5s;

// Reset 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: $ft-family-primary;
    color:$ft-color-primary;
    font-size: $a-font-size;
}

li{
    list-style: none;
}

body,html, main{
    height: 100%;
    overflow: hidden;
}

// Page architecture
.section {
    width: 100vw;
    height: 100vh;
    &--m5vh{
        width: auto;
        margin: $margin-size;
        height: $main-window-size;
        transition-duration: $welcome-animation-step-duration ;
        display: flex;
        flex-wrap: wrap;
    }
}

.title_menu{
    width: 100%;
    height: 100%;
    position: relative;
    background: $bg-color-primary;
    &--w50{
        width: 50%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--w25{
        width: 25%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &__content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        
        font-family: $ft-family-primary;
        font-style: normal;
        font-weight: bold;
        font-size: $hi-size;
        color: $ft-color-primary;

        &--vertical{
            transition-duration: $welcome-animation-step-duration ;
            transform: rotateZ(-90deg) translateX(50%) translateY(-50%);
        }
    }
    &__nav{
        font-family: $ft-family-primary;
        font-style: normal;
        font-weight: bold;
        font-size: $hi-size/2;
        color: $ft-color-primary;
        transform: rotateZ(-90deg) translateY(50%);
        transform-origin: bottom left;
        position: relative;
        left: 50%;
        top: 50%;
    }

    &__arrow{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity $welcome-animation-step-duration linear;
        width: 2 * $margin-size-resp;
        height: 2 * $margin-size-resp;
        right: $margin-size-resp;
        bottom: $margin-size-resp;
        &--up{
            transform: rotateZ(180deg);
            left: $margin-size-resp;
        }
    }

}

.main_content{
    background-color: $bg-color-secondary;
    height: 100%;
    width: 0%;
    overflow: hidden;
    &--w50{
        width: 50%;
        transition-duration: $welcome-animation-step-duration ;
    }
    &--w75{
        width: 75%;
        transition-duration: $welcome-animation-step-duration ;
    }
}

.article{
    height: 100%;
    font-family: $ft-family-primary;
    font-style: normal;
    font-weight: bold;
    font-size: $hi-size/6;
    padding: $margin-size;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &_main{
        position: absolute;
        width: 100%;
        height: $margin-size;
        letter-spacing: $a-font-size/5;
        &__logo{
            padding-left:$margin-size;
            width:30%;
        }
        &__link{
            position: absolute;
            padding-right: 2*$margin-size;
            right: 0;
            & li{
                margin-left: $margin-size;
            }
        }
    }
    &_lang{
        position: absolute;
        right: 0;
        width: $margin-size;
        &__link{
            height: $margin-size;
            position: absolute;
            transform: rotateZ(90deg) translateY(-100%);
            transform-origin: top left;
            top: 2*$margin-size;
            & li{
                margin-right: 1vmin;
            }
        }
    }
}

//Items Style
h1{
    font-size: $hi-size/4.5;
}
.item_tag{
    color:$ft-color-secondary;
}
.item_point{
    color:$bg-color-primary;
}
a.selected{
    font-weight: bold;
}
article p{
    width: 100%;
}
.about li{
    list-style: '        <> ';
    list-style-position: inside;
}
